@use 'tokens' as token;
@use 'breakpoints' as b;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: token.$font-family-base;
  background-color: token.$color-bg;
  color: token.$color-primary-text-border;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
  font-weight: 700;
  color: inherit;
}
input {
  border: none;
  outline: none;
  background-color: inherit;
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include b.tablet {
    padding-left: 16px;
    padding-right: 16px;
  }

  @include b.mobile {
    padding-left: 12px;
    padding-right: 12px;
  }
}
