$color-bg: #f9f8f3;
$color-bg-footer: #1e1b3a;
$color-bg-footer-low: #2a264f;
$color-bg-footer-lowest: #3c376e;
$color-btn: #ffd02b;
$color-btn-gold-hover: #e5bb00;
$color-btn-fff-hover: #fff9e5;
$color-primary-text-border: #242145;
$color-footer-back: #1e1b3a;
$color-bg-footer-low: #2a264f;

$font-family-base: 'Inter', sans-serif;

$shadow-black: 8px 8px 0px 0px #242145;
